:root{

--bg:#020b16;

--bg2:#071426;

--blue:#0F6FFF;

--blue2:#1E90FF;

--gold:#D9A441;

--white:#F7F9FC;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:var(--bg);

color:white;

font-family:Inter;

}

.container{

width:90%;
max-width:1280px;

margin:auto;

}

.header{

background:#04101d;

padding:20px 0;

position:fixed;

width:100%;

z-index:999;

}

.nav{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

height:70px;

}

nav{

display:flex;

gap:30px;

}

nav a{

color:white;

text-decoration:none;

}

.hero{

height:100vh;

position:relative;

overflow:hidden;

}

.slider img{

width:100%;

height:100vh;

object-fit:cover;

}

.hero-overlay{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

text-align:center;

}

.hero-buttons{

display:flex;

gap:15px;

margin-top:30px;

flex-wrap:wrap;

justify-content:center;

}

.btn{

padding:14px 28px;

border-radius:50px;

cursor:pointer;

}

.primary{

background:linear-gradient(
135deg,
var(--blue),
var(--blue2)
);

}

.secondary{

border:1px solid var(--blue);

}

section{

padding:120px 0;

}

.partner-grid,
.service-grid,
.tech-grid,
.about-grid{

display:grid;

gap:25px;

}

.partner-grid{

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

}

.partner-grid img{

background:#071426;

padding:30px;

border-radius:20px;

}

.service-grid{

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

}

.card{

padding:35px;

background:var(--bg2);

border-radius:24px;

}

.tech-grid{

grid-template-columns:
repeat(auto-fit,minmax(140px,1fr));

}

.tech-grid span{

padding:20px;

background:#071426;

border-radius:18px;

text-align:center;

}

footer{

padding:40px;

text-align:center;

background:#01060f;

}